

<div class="sidebar w3-light-grey w3-bar-block bg">
  <div class="sidebar-heading"><span class="menu">Menu</span></div>
  <a 
  routerLink="/admin"
   class="sidebar-link w3-bar-item w3-button">Dashboard</a>
  
  <a routerLink="/admin/add-worker" class="sidebar-link w3-bar-item w3-button">Add Worker</a>
  <a routerLink="/admin/add-supervisor" class="sidebar-link w3-bar-item w3-button">Add Supervisor</a>
  <a routerLink="/admin/view-workers" class="sidebar-link w3-bar-item w3-button">View Worker</a>
  <a routerLink="/admin/view-supervisor" class="sidebar-link w3-bar-item w3-button">View Supervisor</a>
</div>
